@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.pixel {
  width: var(--pixel-size, 10px);
  height: var(--pixel-size, 10px);
}

@media print {
    .pixel {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
